SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CREATE_FIRST_ADMIN=true
ADMIN_EMAIL=admin@pr2.com
ADMIN_PASSWORD=change_this_password_123

DATABASE_URL_DOCKER=postgresql://postgres:password@postgres:5432/pr2
USERS_SERVICE_URL_DOCKER=http://service_users:8001

DATABASE_URL=postgresql://postgres:avt223450@localhost:5432/pr2
USERS_SERVICE_URL=http://localhost:8001