SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256

USERS_SERVICE_URL_DOCKER=http://service_users:8001
ORDERS_SERVICE_URL_DOCKER=http://service_orders:8002

USERS_SERVICE_URL=http://localhost:8001
ORDERS_SERVICE_URL=http://localhost:8002